<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/logout">Log out</a>
    <a href="/dashboard">DashBoard</a>
<div>
    
    <h1>{{org.orgname}}</h1>
    {{org.description}}
    <h4>Created By: {{org.joiner.firstName}}</h4>

    
    
    
    {% if loggedinuser in org.group.all %}
    <a href="/leavegroup/{{org.id}}"><input type="button" value="Leave Group"></a>
    {% else %}
         <a href="/joingroup/{{org.id}}"><input type="button" value="Join Group"></a>
    {% endif %}

    
    
    
    
  
   
   
   
   
   
    <ul>Currents Members</ul>
   {% for val in org.group.all %}

   
   <li>{{val.firstName}}</li>

   {% endfor %}

   
   


    

    
    
</div>

</body>
</html>